a,div,img,span,p,input,h1,h2,h3,h4,h5,h6,header,body,footer,ul,li{
  margin:0px;
  padding:0px;
}
.login{
  width: 100%;
  height: 100%;
  background-color: rgba(136, 134, 134, 1);
  text-align: center;
  position: absolute;
}
.login form{
  width: 470px;
  height: 200px;
  text-align: center;
  position: absolute;
  top:50%;
  left:50%;
  margin-top:-150px;
  margin-left: -250px;
  font-size: 16px;
}
.login .title{
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  font-family: SourceHanSansSC-regular;
  margin-bottom: 40px;
}
.login .name,.login .upwd{
  background:#fff;
  height: 60px;
  text-align: left;
  padding: 0px 0px 10px 30px;
}
.login .name{
  padding-top:40px;
}
.login .upwd{
  padding-bottom: 70px;
}
.login span{
  display: inline-block;
  width: 54px;
  height: 29px;
  color: rgba(16, 16, 16, 1);
  font-family: SourceHanSansSC-regular;
}
.login form input{
  width: 300px;
  height: 40px;
  color: rgba(136, 136, 136, 1);
  font-family: Roboto;
  margin-left: 10px;
  outline: none;
  padding-left:8px;
}
.login .btn{
  width: 114px;
  height: 35px;
  border-radius: 4px;
  color: rgba(16, 16, 16, 1);
  text-align: center;
  font-family: Microsoft Yahei;
  border: 1px solid rgba(187, 187, 187, 1);
  line-height: 35px;
  position: absolute;
  top:260px;
  left: 99px;
  cursor: pointer;
}
.login .alert{
  margin-left:70px;
  color:red;
}